/*modifico estilos de bootrap*/

.h-10  { height: 10%  !important; }
.h-15  { height: 15%  !important; }
.h-20  { height: 20%  !important; }
.h-85  { height: 85%  !important; }


@media (max-width: 576px) {
  .fs-xs-1 { font-size: 2.5rem !important; }
}

/* Estilos generales */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#pingreso{
    color: rgb(42, 42, 42) !important;
}

/* Ajustes de diseño responsivo */
@media (max-width: 480px) {
    .login-container {
        width: 90%;
        padding: 20px;
    }

    h2 {
        font-size: 18px;
    }

    p {
        font-size: 12px;
    }

    .input-field {
        font-size: 12px;
    }

    .login-register-btn {
        font-size: 14px;
    }
}

